<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link href='/styles.css' rel='stylesheet' type='text/css'>
        <title>Music School - {% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="container">
            <div id="nav">
                <button class="btn btn-info"><a href="/books">All Books</a></button>
                <button class="btn btn-info"><a href="/authors">All Authors</a></button>
                <button class="btn btn-info"><a href="/patrons">All Patrons</a></button>
            </div>

            {% block content %}
            
            {% endblock %}
            <hr>
            <a href="/" ><button class="btn btn-primary">HOME</button></a>
        </div>
    </body>
</html>
