<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='/styles.css' rel='stylesheet' type='text/css'>
    <title>Course</title>
  </head>
  <body>
      <div class="nav-bar">
        <div class="logo">
          <img src="/img/splogo.jpg" alt="logo">
          <h1></h1>
          <p class="intro"></p>
        </div>
        <div class="center-div">
          <div class="sidebar">
            <ul>
              <li><a href="/teachers">teachers</a></li>
              <li><a href="/students">students</a></li>
              <li>accounts</li>
              <li>billing</li>
              <li><a href="/">home</a></li>
            </ul>
          </div> <!--sidebar-->
        </div> <!--logo-->
      </div> <!--nav-bar-->
      <div class="jumbotron">
        <!-- The data encoding type, enctype, MUST be specified as below -->
        <form enctype="multipart/form-data" action="__URL__" method="POST">
          <!-- MAX_FILE_SIZE must precede the file input field -->
          <input type="hidden" name="MAX_FILE_SIZE" value="30000" />
          <!-- Name of input element determines name in $_FILES array -->
          Send this file: <input name="userfile" type="file" />
          <input type="submit" value="Send File" />
        </form>
      </div>
      <!-- jumbotron -->
      <a href="/">Home</a>
  </body>
</html>
