<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='styles.css' rel='stylesheet' type='text/css'>
    <title>CRM Music School</title>
  </head>
  <body>
    <div class="container">
      <div class="nav-bar">
        <div class="logo">
          <img src="img/splogo.jpg" alt="logo">
          <h1></h1>
          <p class="intro"></p>
        </div>
        <div class="center-div">
          <div class="sidebar">
            <ul>
              <li><a href="/teachers">teachers</a></li>
              <li><a href="/students">students</a></li>
              <li>accounts</li>
              <li>billing</li>
              <li><a href="/">home</a></li>
            </ul>
          </div> <!--sidebar-->
        </div> <!--logo-->
      </div> <!--nav-bar-->
      <div class="jumbotron">
        <h1>Students</h1>
        <p></p>
      </div>
      {% if students is not empty %}
      <ul>
        {% for student in students %}
          <li><a href="students/{{student.getId}}">{{student.getName}} {{student.getId}}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
      <form action="/students" method="post">

        <label for="student_name">Name</label><br>
        <input type="text" name="student_name" required><br>
        <label for="student_instrument">Instrument</label><br>
        <input type="text" name="student_instrument" required><br>
        <label for="teacher_id">Teacher Id</label><br>
        <input type="text" name="teacher_id" required><br>
        <button type="submit">Submit</button><br>
      </form>
      <a href="/">Home</a>
    </div>
  </body>
</html>
