<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Teacher Termination</title>
  </head>
  <body>
    <h1>{{ deleted_teacher.getName }} has been deleted</h1>
    <a href="/teachers">Back to Teachers</a>
    <a href="/">Back to Homepage</a>
  </body>
</html>
