{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="jumbotron">
    <h1>Home</h1>
    <hr>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-info">
            <h2 class="panel-heading" >Teachers </h2>
            {% if teachers is not empty %}
            <div class="panel-body">
                <h4 id="totals" class="stats-numbers">Total: {{ teachers|length }}</h4>
                <ul>
                    {% for teacher in teachers %}
                    <li><a href="teachers/{{teacher.getId}}">{{teacher.getName}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-info">
                <h2 class="panel-heading">Courses</h4>
                <div class="panel-body">
                    <h4 id="totals" class="stats-numbers">Total: 250 </h4>
                    <p>Info goes here </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
