{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
<a href="/login_owner"> Owner logs in</a>
<a href="/login_teacher"> teacher logs in</a>
<a href="/login_client"> client logs in</a>
{% endblock %}
