{% extends "base.html.twig" %}

{% block title %}Accounts{% endblock %}

{% block content %}

    <div class="jumbotron green">
        <h1>Accounts</h1>
        <hr>
    </div>
    <!-- jumbotron -->
    <div class="row">
        <div class="col-md-6">
            <form  id="addclient" action="/add_client" method="post">
                <div class="panel panel-info">
                    <h4 class="panel-heading">Create New Account</h4>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="name">Name: </label>
                            <input class="form-control" type="text" name="name">

                            <label for="phone_number">Phone Number: </label>
                            <input class="form-control" type="text" name="phone_number">

                            <label for="address_input">Address: </label>
                            <input class="form-control" type="text" name="address_input">
                        </div>
                    <button class="btn btn-primary" type="submit" name="new_account_submit">create new account</button>
                </div>
                </div>
            </form>
        </div>

            <div class="col-md-6">
                <form action="/search_input" method="post">
                    <div class="form-group">
                        <label for="search_input">Search for Client</label>
                        <input class="form-control" type="text" name="search_input" placeholder="first letter search...">
                    </div>
                    <button type="submit" name="view_accounts" class="btn btn-info btn-sm" value="view">search accounts</button>
                </form><br>
                <form action="/owner_clients" method="post">
                    <button type="submit" name="view_accounts" class="btn btn-warning btn-sm" value="view">view accounts</button>
                </form> <br>
                <form action="/owner_delete-clients" method="post">
                    <button type="submit" class="btn btn-danger btn-sm" name="delete_accounts">delete accounts</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
