{% extends "base.html.twig" %}

{% block title %}Accounts{% endblock %}

{% block content %}

<div class="jumbotron green">
    <h1>Clients</h1>
    <hr>
</div>
<!-- jumbotron -->
<div class="row">
    <div class="col-md-6">
        <form  id="addclient" action="/owner_accounts" method="post">
            <div class="panel panel-info">
                <h4 class="panel-heading">Create New Account</h4>
                <div class="panel-body">
                    <div class="form-group">
                        <label  for="family_name">Family Name: </label>
                        <input id="accountinputmargin" class="form-control" type="text" name="family_name">
                        <label  for="parent_one_name">Parent/Guardian Name (primary): </label>
                        <input id="accountinputmargin" class="form-control" type="text" name="parent_one_name">
                        <label  for="parent_two_name">Parent/Guardian Name (secondary): </label>
                        <input id="accountinputmargin" class="form-control" type="text" name="parent_two_name">
                        <label  for="street_address">Street Address: </label>
                        <input id="accountinputmargin" class="form-control" type="text" name="street_address">
                        <label  for="phone_number">Phone Number: </label>
                        <input id="accountinputmargin" class="form-control" type="text" name="phone_number">
                        <label  for="email_address">Email Address: </label>
                        <input id="accountinputmargin" class="form-control" type="text" name="email_address">
                        <input type="hidden" name="notes" value="First entry">
                        <input type="hidden" name="billing_history" value="First entry">
                        <input type="hidden" name="outstanding_balance" value="0">
                    </div>
                    <button class="btn btn-primary" type="submit">create new account</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <form action="/search_input" method="post">
            <div class="form-group">
                <label for="search_input">Search for Client</label>
                <input class="form-control" type="text" name="search_input" placeholder=" search something...">
            </div>
        </form>
        <br>

        <div id="outer">
            <div class="inner"><form class="" action="index.html" method="post">
                <button  type="submit" name="view_accounts" class="btn btn-info btn-sm" value="view">search accounts</button>
            </form></div>
            <div class="inner"><form action="/owner_clients" method="post">
                <button type="submit" name="view_accounts" class="btn btn-warning btn-sm" value="view">view accounts</button>
            </form></div>
            <div class="inner"><form action="/owner_delete-clients" method="post">
                <button type="submit" class="btn btn-danger btn-sm" name="delete_accounts">delete accounts</button>
            </form></div>
        </div>

        <div class="col-md-6">
            {% if accounts is not empty %}
                <table class="table table-hover">
                    <thead>
                        <th>Clients Name</th>
                    </thead>
                    <tbody>
                        {% for account in accounts %}
                        <tr>
                            <td><a href="owner_accounts/{{account.getId}}">{{ account.getFamilyName}}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

    {% endblock %}
