{% extends "base.html.twig" %}

{% block title %}Teacher Termination{% endblock %}

{% block content %}

    <h1>{{ deleted_teacher.getName }} has been deleted</h1>
    <a href="/teachers">Back to Teachers</a>

{% endblock %}
