{% extends "base2.html.twig" %}

{% block title %}Course{% endblock %}

{% block content %}
<div class="jumbotron">
    Enrolled Students
    <hr>
</div>
<h1>{{ course.getTitle }} </h1>

{% if enrolled_students is not empty %}
<ul>
    {% for student in enrolled_students  %}
    <li><a href="/../teacher_students/{{student.getId}}">{{student.getName}}</a></li>
    {% endfor %}
</ul>

{% endif %}

{% endblock %}
